In [0]:
import pandas as pd

In [0]:
merged = pd.read_csv('https://raw.githubusercontent.com/BW-Med-Cabinet-4/data-science/sarahxu_ML/dataframe/merged_df.csv')

In [0]:
one_hots_flavors = merged['flavors'].str.split('\s*,\s*', expand=True).stack().str.get_dummies().sum(level=0)

In [0]:
one_hots_positive = merged['positive'].str.split('\s*,\s*', expand=True).stack().str.get_dummies().sum(level=0)

In [0]:
one_hots_negative = merged['negative'].str.split('\s*,\s*', expand=True).stack().str.get_dummies().sum(level=0)

In [0]:
one_hots_medical = merged['medical'].str.split('\s*,\s*', expand=True).stack().str.get_dummies().sum(level=0)

In [0]:
df = pd.concat([merged, one_hots_flavors], axis=1, sort=False)

In [0]:
df = pd.concat([merged, one_hots_positive], axis=1, sort=False)

In [0]:
df = pd.concat([merged, one_hots_negative], axis=1, sort=False)

In [0]:
df = pd.concat([merged, one_hots_medical], axis=1, sort=False)

In [0]:
df = df.drop(columns=['flavors', 'positive', 'negative', 'medical'])

In [288]:
df.head()

      name    race  Rating  ... Seizures  Spasticity  Stress
0    Afpak  hybrid     4.2  ...      0.0         0.0     1.0
1  African  sativa     3.9  ...      0.0         0.0     1.0
2  Afwreck  hybrid     4.2  ...      0.0         0.0     1.0
3   Alaska  sativa     4.6  ...      0.0         0.0     1.0
4  Alchemy  hybrid     4.8  ...      0.0         0.0     1.0

[5 rows x 19 columns]

In [0]:
from urllib.request import urlopen
from zipfile import ZipFile
from io import BytesIO
import os.path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [226]:
scaler = StandardScaler()
national_processed = scaler.fit_transform(national_processed)
national_processed[:30,1:2]

NameError: ignored

In [0]:
df.describe()

In [0]:
df.isna().sum()